
* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


  @keyframes tinycircle {
    0% {margin-left: 200px; margin-top: -150px;}
    50% {margin-left: 190px; margin-top: -150px;}
    100% {margin-left: 200px; margin-top: -150px;}
  }

  @keyframes smallcircle {
    0% {margin-left: 1220px; margin-top: 110px;}
    50% {margin-left: 1210px; margin-top: 110px;}
    100% {margin-left: 1220px; margin-top: 110px;}
  }


  @keyframes mediumcircle {
    0% {margin-left: 1100px; margin-top: -240px;}
    50% {margin-left: 1110px; margin-top: -250px;}
    100% {margin-left: 1100px; margin-top: -240px;}
  }

  @keyframes largecircle {
    0% {margin-left: 30px; margin-top: 90px;}
    50% {margin-left: 40px; margin-top: 90px;}
    100% {margin-left: 30px; margin-top: 90px;}
  }





html {
overflow-x: hidden;
font-family: "Helvetica", sans-serif;
}

html {
  height: 100%;
  font-family: "Helvetica", sans-serif;
}

body {
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.flexbox {
  max-width: 1500px;
  margin: 0 auto;
  z-index: 101;
}

/*----Nav----*/


nav {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -5px 0px 2px #444;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 111;
}

nav img {
  width: auto;
  height: 35px;
  margin-left: 3.5vw;
  margin-top: 22px;
}

nav h1 {
  display: inline-block;
  position: absolute;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  margin-left: 25px;
  margin-top: 27px;
  font-size: 1.2em;
}

nav ul {
  position: relative;
  float: right;
  margin-right: 60px;
  margin-top: 1.1em;
}

nav ul li {
  margin-right: 60px;
  font-family: "Helvetica", sans-serif;
  display: inline;
  list-style-type: none;
  font-size: 0.9em;
}

nav a {
  text-decoration: none;
  color: black;
}

#home:hover {
  color: #FF9D3C
}

#about:hover {
  color: #FF0080;
}

#portfolio:hover {
  color: #BA00FF;
}
nav button {
  background: -webkit-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -moz-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -o-linear-gradient(left, #FF9D3C, #BA00FF);
  background: linear-gradient(to right, #FF9D3C, #BA00FF);
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: white;
  margin-top: -3px;
}

nav button:hover {
  background: white;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: black;
  border: 2px solid #BA00FF;
  cursor: pointer;
}

nav button:focus {
  outline: 0;
}

nav button:active {
  outline: none;
}

/*----Header----*/

.headerbackground {
  min-width: 100%;
  height: 800px;
  background: -webkit-linear-gradient(110deg, #3B00FF, #FF0080);
  background: -moz-linear-gradient(110deg, #3B00FF, #FF0080);
  background: -o-linear-gradient(110deg, #3B00FF, #FF0080);
  background: linear-gradient(200deg, #3B00FF, #FF0080);
  display: inline-block;
  position: absolute;
  overflow-x: visible;
}

.bubblecontainer {
  width: 85%;
  max-width: 1500px;
  height: 800px;
  top: 280px;
  position: absolute;
}

.about-header {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  margin-top: 75px !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  position: relative;
  color: white;
}


.slogan {
  display: block;
  margin: 0 auto !important;
  text-align: center;
  position: relative;
  bottom: 3em;
}


.slogan h1 {
  font-size: 3em;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.slogan p {
  font-size: 1em;
  width: 500px;
  margin: auto;
  margin-top: 3em;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
}

header button {
  background-color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: #c200b3;
  margin: 0 auto;
  position: relative;
  margin-top: 3em;
  display: block;
  z-index: 1000000;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.1);
}

header a {
  text-decoration: none;
}

.about-header button:hover {
  background: none;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.about-header button:focus {
  outline: 0;
}

.about-tinycircle {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(120deg, #ef00f6, #2400fe);
  background: -webkit-linear-gradient(120deg, #ef00f6, #2400fe);
  background: -moz-linear-gradient(120deg, #ef00f6, #2400fe);
  background: -o-linear-gradient(120deg, #ef00f6, #2400fe);
  margin-left: 250px;
  margin-top: 150px;
  animation: tinycircle infinite 3s;
  z-index: 100000 !important;
  float: left;
  padding: 80px;
}


.about-smallcircle {
  position: absolute;
  border-radius: 100%;
  margin-left: 1000px;
  margin-top: -210px;
  background: -webkit-linear-gradient(90deg, #E200FF, #009DFF);
  background: -moz-linear-gradient(90deg, #E200FF, #009DFF);
  background: -o-linear-gradient(90deg, #E200FF, #009DFF);
  background: linear-gradient(90deg, #E200FF, #009DFF);
  z-index: 98;
  animation: smallcircle infinite 3s;
  padding: 75px;
}

.about-mediumcircle {
  border-radius: 100%;
  margin-left: 1100px; 
  margin-top: -240px;
  background: linear-gradient(30deg, #FFD800, #EB00FF);
  z-index: 98;
  padding: 100px;
  animation: mediumcircle infinite 3s;
  animation-delay: 0.5s;
  border-radius: 100%;
  position: absolute;
}


.about-largecircle {
  position: absolute;
  border-radius: 100%;
  margin-left: 50px;
  margin-top: -130px;
  background: -webkit-linear-gradient(90deg, orangered, coral);
  background: -moz-linear-gradient(90deg, orangered, coral);
  background: -o-linear-gradient(90deg, orangered, coral);
  background: linear-gradient(90deg, orangered, coral);
  z-index: 100;
  padding: 145px;
  animation: largecircle infinite 3s;
}


/*----Body1-----*/

.body-container {
  width: 91.5%;
  margin: auto;
}

.body1 {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.body1-textbox {
  width: 700px;
  padding-top: 4em;
  margin-left: 1em;
  margin-top: 3em;
}

.body1 p {
  margin-top: 2em;
  line-height: 2em;
}

#pinkshapes {
  height: auto;
  width: 3em;
  display: inline-block;
  position: absolute;
  margin-top: -0.3em;
}

#bluepen {
  height: auto;
  width: 3em;
  display: inline-block;
  position: absolute;
}

#h11 {
  color: #e600e6;
  font-size: 2em;
  display: inline-block;
  margin-left: 2em;
}

#h12 {
  color: #3399ff;
  font-size: 2em;
  display: inline-block;
  margin-left: 2em;
}

#p {
  margin-bottom: 5em;
}

.body1 button {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  font-family: "Helvetica", sans-serif;
  color: white;
  background: -webkit-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -moz-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -o-linear-gradient(left, #FF9D3C, #BA00FF);
  background: linear-gradient(to right, #FF9D3C, #BA00FF);
  margin-top: 2%;
  margin-left: 5em;
  bottom: 0;
}

.body1 button:hover {
  background: none;
  font-size: 1em;
  font-family: "Helvetica", sans-serif;
  color: black;
  border: 2px solid #BA00FF;
  cursor: pointer;
  animation: jello 1s;
}

.body1 button:focus {
  outline: 0;
}

#body1mockup {
  width: 400px;
  height: auto;
  display: none;
  float: right;
  right: 0;
  position: absolute;
  margin-top: 100px;
}

#aboutmockup2 {
  display: none;
}


/*----Body2----*/

.body2background {
  width: 100%;
  height: 550px;
  background: linear-gradient(200deg, #3B00FF, #FF0080);
  display: inline-block;
  position: absolute;
  margin-top: 1600px;
  z-index: 1;
}

.body2 {
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
  position: relative;
}

.body2-content {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  text-align: center;
}

.body2-content img {
  width: 320px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.body2-content div {
  display: block;
  margin: 0 auto;
}

.body2-content div h3 {
  color: white;
  font-size: 2em;
  margin-top: 1.4em;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.body2-content p {
  margin-top: 2em;
  color: white;
  font-size: 1em;
}

#seamless {
  font-weight: 200;
}

#elegant {
  font-family: "Times New Roman", sans-serif;
  font-style: italic;
}

#powerful {
  font-weight: bolder;
}

.body2-content button {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  font-family: "Helvetica", sans-serif;
  color: #c200b3;
  margin: 0 auto;
  background-color: white;
  margin-top: 8%;
  cursor: pointer;
}

.body2-content button:hover {
  background: none;
  font-size: 1em;
  font-family: "Helvetica", sans-serif;
  color: white;
  border: 2px solid white;
  animation: jello 1s;
}

.body2-content button:focus {
  outline: 0;
}


/*----Footer----*/


footer {
  text-align: left;
  padding-top: 3em;
  width: 100%;
  left: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  height: 230px;
  z-index: 101;
}

footer div {
  width: 100%;
  display: block;
  margin: auto;
  width: 85%;
  max-width: 1500px;
}

footer img {
  width: 35px;
  height: auto;
  position: relative;
  top: 0.8em;
}

footer h4 {
  display: inline-block;
  font-size: 1.2em;
  font-weight: Lighter;
  margin-left: 1em;
}

footer h5 {
  display: inline-block;
  font-size: 0.6em;
  margin-left: 3%;
}

footer a {
  color: black;
}

footer a:visited {
  color: black;
}

footer p {
  display: block;
  width: 450px;
  line-height: 2;
  margin-top: 1%;
  font-size: 0.8em;
  color: #444;
}

/*----Downscaling Media Queries----*/

@media screen and (max-width: 1480px) {

/*----Body1----*/


.body1 {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#body1mockup {
  width: 350px;
  height: 420px;
}

.body1-textbox {
  width: 60%;
  margin-left: 1em;
  margin-top: 3em;
}


.body1 p {
  margin-top: 0.3em;
  line-height: 2em;
}

#p {
  margin-bottom: 3em;
}

.body1-textbox p {
  font-size: 1em;
}

#pinkshapes {
  height: auto;
  width: 2.8em;
  display: inline-block;
  position: absolute;
}

#bluepen {
  height: auto;
  width: 2.8em;
  display: inline-block;
  margin-top: -0.3em;
  position: absolute;
}

#h11 {
  padding-bottom: 1em;
  color: #e600e6;
  font-size: 2em;
  display: inline-block;
  margin-left: 2em;
}

#h12 {
  color: #3399ff;
  padding-bottom: 1em;
  font-size: 2em;
  display: inline-block;
  margin-left: 2em;
  margin-top: 0px;
}

/*----body2----*/

.body2background {
  margin-top: 1305px;
}
}

@media screen and (max-width: 1170px) {
  .bubblecontainer {
    display: none;
  }
}


@media screen and (max-width: 1353px) {
.bubblecontainer {
  margin-left: -5%;
}

}


@media screen and (max-width: 1566px) {

  .body1-textbox {
    width: 60%;
  }

  

  #body1mockup {
    width: 370px;
    margin-top: 50px;
    height: auto;
  }

  .body1 {
    height: 590px;
    
  }

  .body2background {
    width: 100%;
    height: 570px;
    background: linear-gradient(200deg, #3B00FF, #FF0080);
    display: inline-block;
    position: absolute;
    margin-top: 1380px;
    z-index: 1;
  }

}

@media screen and (max-width: 1159px) {

  .body1-textbox {
    width: 48%;
    margin-left: 1em;
    margin-top: 0.8em;
}



  #pinkshapes {
    display: none;
  }

  #h11 {
    margin-left: 0;
    font-size: 1.7em;
    padding-bottom: 1em;


  }

  #bluepen {
    display: none;
  }

  #h12 {
    margin-left: 0;
    font-size: 1.7em;
    padding-bottom: 1em;
  }

}



@media screen and (max-width: 1006px) {
  #body1mockup {
    display: none !important;
  }

  .body1-textbox {
    width: 80%;
  }
}

@media (max-width: 1170px) {

 
.about-tinycircle {
  display: none;
}

.about-tinycircle2,  {
  display: none;
}

.about-smallcircle {
  display: none;
}

.about-mediumcircle {
  display: none;
}


.about-largecircle {
  display: none;
 }
}