@keyframes anim-1 {
	0%, 8.3% { opacity: 0; }
  8.3%,25% { opacity: 1; }
  33.33%, 100% { opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { opacity: 0; }
  41.63%, 58.29% { opacity: 1; }
  66.66%, 100% { opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { opacity: 0; }
  74.96%, 91.62% { opacity: 1; }
  100% { opacity: 0; }
}


html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
}

body {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
}

nav {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -5px 0px 2px #444;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 111;
}
#logo {
  position: relative;
  width: auto;
  height: 32px;
  margin-left: 3.5vw;
  margin-top: 16px;
}

#menu {
  float: right;
  height: 28px;
  width: auto;
  margin-top: 18px;
  margin-right: 23px;
  z-index: 99999 !important;
}

#x {
  float: right;
  height: 30px;
  width: auto;
  margin-top: 15px;
  margin-right: 23px;
  display: none;
}

nav h1 {
  display: inline-block;
  position: absolute;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  margin-left: 15px;
  margin-top: 20px;
  font-size: 1.2em;
}

nav a:visited {
  color: black;
}

/*----Menu----*/

#menubox {
  width: 100vw;
  margin-top: 65px;
  top: 0;
  height: calc(100vh - 65px);
  padding: 0;
  position: absolute;
  z-index: 1000;
  color: white;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(200deg, darkviolet, deeppink);
  margin-left: 100vw;
  display: none;
  position: fixed;
}

#menubox img {
  width: 6vw;
  height: auto;
  bottom:  0;
  position: absolute;
  margin-left: 3.5vw;
  margin-top: 3vh;
  top: 0;
}

#menubox ul {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 0;
}

#menubox ul li {
  list-style-type: none;
  font-size: 5vh;
  font-weight: bold;
  line-height: 2em;
}

#menubox a {
  text-decoration: none;
  color: white;
}

#menubox a:visited {
  color: white;
}

/*----Flexbox----*/

.flexbox {
    display: block;
    overflow-x: hidden;
}

header {
  width: 100%;
  height: 85vh;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background: -webkit-linear-gradient(50deg, #3B00FF, #FF0080);
  background: -moz-linear-gradient(50deg, #3B00FF, #FF0080);
  background: -o-linear-gradient(50deg, #3B00FF, #FF0080);
  background: linear-gradient(140deg, #3B00FF, #FF0080);
}

header img {
  width: 45%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 80%;
}

.slogan h1 {
  font-size: 1.8em;
  margin-top: 2em;
  -webkit-font-smoothing: antialiased;
}

.slogan p {
  font-size: 1em;
  margin-top: 1em;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
}

header button {
  background-color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: #c200b3;
  margin: 0 auto;
  position: relative;
  margin-top: 3em;
  display: block;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.1);
}

header button:hover {
  background: none;
  color: white;
  border: 2px solid white;
}

header button:focus {
  outline: none;
}

header a {
  text-decoration: none;
}

/*----Body1----*/

.body1 {
  min-height: 500px;
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
}

.body1-textbox1 {
  width: 85%;
  margin: auto;
  margin-top: 4em;
  text-align: center;
}

.body1-textbox2 {
  width: 85%;
  margin: auto;
  margin-top: -2em;
  text-align: center;
}

.body1 p {
  margin-top: 0.3em;
  font-size: 0.9em;
  line-height: 1.8em;
}

#pinkshapes {
  height: 35px;
  width: auto;
  display: inline-block;
}

#bluepen {
  height: 35px;
  width: auto;
  display: inline-block;
  margin-top: 3em;
}

#h11 {
  color: #e600e6;
  font-size: 1.3em;
  display: inline-block;
  text-align: center;
}

#h12 {
  color: #009DFF;
  font-size: 1.3em;
  display: inline-block;
}


/*----Body2----*/

.body2 {
  height: 420px;
  width: 100%;
  background: -webkit-linear-gradient(110deg, #3B00FF, #FF0080);
  background: -moz-linear-gradient(110deg, #3B00FF, #FF0080);
  background: -o-linear-gradient(110deg, #3B00FF, #FF0080);
  background: linear-gradient(200deg, #3B00FF, #FF0080);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body2-content {
  text-align: center;
  color: white;
}

.body2-content img {
  width: auto;
  height: 125px;
  margin: 0 auto;
}

.body2-content h3 {
  display: inline-block;
  font-size: 1.5em;
}

.body2-content p {
  font-weight: 300;
  font-size: 0.8em;
  line-height: 2em;
}

#seamless {
  font-weight: 200;
}

#elegant {
  font-family: "Times New Roman", sans-serif;
  font-style: italic;
}

.body2 button {
  background-color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: #c200b3;
  margin: 0 auto;
  position: relative;
  margin-top: 3em;
  display: block;
  z-index: 1000000;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.1);
}

.body2 button:hover {
  background: none;
  color: white;
  border: 2px solid white;
  font-size: 0.8em
}

.body2 button:focus {
  outline: none;
}

.body2 a {
  margin: 0 auto;
  text-decoration: none;
}

/*----Body3----*/

.body3 {
  height: 500px;
  width: 100%;
  overflow-x: hidden;
}

.mockup-container {
  margin: 0 auto;
  width: 85vw;
  margin-top: 50px;
  animation-duration: 25s;
	animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition-duration: 1s;
  position: absolute;
  left: 0;
  right: 0;
  
}

.mockup1 {
  animation-name: anim-1;
  transition-duration: 1s;
}

.mockup2 {
  animation-name: anim-2;
  transition-duration: 1s;
}

.mockup3 {
  animation-name: anim-3;
  transition-duration: 1s;
}

.mockup-container-texbox {
  line-height: 2;
  font-size: 0.8em;
  width: 100%;
}

.mockup-container-texbox h3 {
  font-size: 1.5em;
  text-align: center;
}

#gcaccess {
  color: #684eff;
}

#gcdogparks {
  color: deeppink;
}

.body3-mockup {
  height: 250px;
  width: auto;
  margin-top: 40px;
  margin: 0 auto;
  display: block;
}


/*----Footer----*/

footer {
  width: 100%;
  height: 200px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

footer div {
  width: 80%;
  margin-top: 2em;
  margin-left: 2em;
}

footer img {
  height: 35px;
  width: auto;
  display: block;
  position: absolute;
  margin-top: 1.5em;
}

footer h4 {
  display: inline-block;
  margin-left: 3em;
  margin-top: 2em;
}

footer p {
  font-size: 0.8em;
  line-height: 1.5em;
  color: #333;
}
