* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica , sans-serif;
}

@keyframes tinycircle {
  0% {margin-left: 250px; margin-top: 150px;}
  50% {margin-left: 240px; margin-top: 150px;}
  100% {margin-left: 250px; margin-top: 150px;}
}

@keyframes tinycircle2 {
  0% {margin-left: 1250px; margin-top: -120px;}
  50%{margin-left: 1260px; margin-top: -120px;}
  100% {margin-left: 1250px; margin-top: -120px;}
}


@keyframes smallcircle {
  0% {margin-left: 1100px; margin-top: -210px;}
  50% {margin-left: 1090px; margin-top: -210px;}
  100% {margin-left: 1100px; margin-top: -210px;}
}


@keyframes mediumcircle {
  0% {margin-left: 1100px; margin-top: 100px;}
  50% {margin-left: 1110px; margin-top: 100px;}
  100% {margin-left: 1100px; margin-top: 100px;}
}

@keyframes largecircle {
  0% {margin-left: 50px; margin-top: -130px;}
  50% {margin-left: 60px; margin-top: -130px;}
  100% {margin-left: 50px; margin-top: -130px;}
}

html {
overflow-x: hidden;
font-family: "Helvetica", sans-serif;
}

/*----Body----*/


.container {
    max-width: 1500px;
    width: 80%;
    height: 100%;
    margin: auto;

}

/*----Nav----*/

nav {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -5px 0px 2px #444;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 111;
}

nav img {
  width: auto;
  height: 35px;
  margin-left: 3.5vw;
  margin-top: 22px;
}

nav h1 {
  display: inline-block;
  position: absolute;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  margin-left: 25px;
  margin-top: 27px;
  font-size: 1.2em;
}

nav ul {
  position: relative;
  float: right;
  margin-right: 60px;
  margin-top: 1.1em;
}

nav ul li {
  margin-right: 60px;
  font-family: "Helvetica", sans-serif;
  display: inline;
  list-style-type: none;
  font-size: 0.9em;
}

nav a {
  text-decoration: none;
  color: black;
}

#home:hover {
  color: #FF9D3C
}

#about:hover {
  color: #FF0080;
}

#portfolio:hover {
  color: #BA00FF;
}
nav button {
  background: -webkit-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -moz-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -o-linear-gradient(left, #FF9D3C, #BA00FF);
  background: linear-gradient(to right, #FF9D3C, #BA00FF);
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: white;
  margin-top: -3px;
}

nav button:hover {
  background: white;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: black;
  border: 2px solid #BA00FF;
  cursor: pointer;
}

nav button:focus {
  outline: 0;
}

nav button:active {
  outline: none;
}

.headerbackground {
  min-width: 100%;
  height: 800px;
  background: -webkit-linear-gradient(110deg, #3B00FF, #FF0080);
  background: -moz-linear-gradient(110deg, #3B00FF, #FF0080);
  background: -o-linear-gradient(110deg, #3B00FF, #FF0080);
  background: linear-gradient(200deg, #3B00FF, #FF0080);
  display: inline-block;
  position: absolute;
  overflow-x: visible;
}

.bubblecontainer {
  width: 85%;
  max-width: 1500px;
  height: 800px;
  top: 280px;
  position: absolute;
}

.about-header {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  margin-top: 75px !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  position: relative;
  color: white;
}

.flex {
  max-width: 1500px;
  margin: 0 auto;
  z-index: 101;
}

.slogan {
  display: block;
  margin: 0 auto !important;
  text-align: center;
  position: relative;
  bottom: 3em;
}


.slogan h1 {
  font-size: 3em;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.slogan p {
  font-size: 1em;
  width: 500px;
  margin: auto;
  margin-top: 3em;
  z-index: 100000 !important;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
}

header button {
  background-color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: #c200b3;
  margin: 0 auto;
  position: relative;
  margin-top: 3em;
  display: block;
  z-index: 1000000;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.1);
}

header a {
  text-decoration: none;
}

.about-header button:hover {
  background: none;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.about-header button:focus {
  outline: 0;
}

.about-tinycircle {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(120deg, #ef00f6, #2400fe);
  background: -webkit-linear-gradient(120deg, #ef00f6, #2400fe);
  background: -moz-linear-gradient(120deg, #ef00f6, #2400fe);
  background: -o-linear-gradient(120deg, #ef00f6, #2400fe);
  margin-left: 250px;
  margin-top: 150px;
  animation: tinycircle infinite 3s;
  z-index: 99;
  float: left;
  padding: 80px;
}

.about-tinycircle2 {
  position: absolute;
  border-radius: 100%;
  margin-left: 1250px;
  margin-top: -80px;
  background: -webkit-linear-gradient(120deg, deeppink, coral);
  background: -moz-linear-gradient(120deg, deeppink, coral);
  background: -o-linear-gradient(120deg, deeppink, coral);
  background: linear-gradient(120deg, deeppink, coral);
  animation: tinycircle2 infinite 3s;
  z-index: 10000;
  padding: 50px;
}

.about-smallcircle {
  position: absolute;
  border-radius: 100%;
  margin-left: 1000px;
  margin-top: -210px;
  background: -webkit-linear-gradient(90deg, #E200FF, #009DFF);
  background: -moz-linear-gradient(90deg, #E200FF, #009DFF);
  background: -o-linear-gradient(90deg, #E200FF, #009DFF);
  background: linear-gradient(90deg, #E200FF, #009DFF);
  z-index: 98;
  animation: smallcircle infinite 3s;
  padding: 75px;
}

.about-mediumcircle {
  border-radius: 100%;
  margin-top: 100px;
  margin-left: 1100px;
  background: linear-gradient(30deg, #FFD800, #EB00FF);
  z-index: 98;
  padding: 150px;
  animation: mediumcircle infinite 3s;
  animation-delay: 0.5s;
  border-radius: 100%;
  position: absolute;
}


.about-largecircle {
  position: absolute;
  border-radius: 100%;
  margin-left: 50px;
  margin-top: -130px;
  background: -webkit-linear-gradient(90deg, orangered, coral);
  background: -moz-linear-gradient(90deg, orangered, coral);
  background: -o-linear-gradient(90deg, orangered, coral);
  background: linear-gradient(90deg, orangered, coral);
  z-index: 100;
  padding: 145px;
  animation: largecircle infinite 3s;
}


/*----Body----*/


.bodybackground {
  width: 100vw;
  background-color: white;
  height: 700px;
  margin-top: 800px;
  position: absolute;
  z-index: -1;
} 

.textbox1 {
  display: block;
  text-align: center;
  width: 80%;
  margin: auto;
  line-height: 2;
  margin-top: 6em;
}

.textbox1 h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 2em;
  padding-bottom: 1em;
  color: #009DFF;
}

.textbox1 p {
  font-family:'Helvetica', sans-serif;
  font-size: 1em;
  width: 100%;
  line-height: 2;
}

.showcase {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: -1em;
  padding-top: 10px;
}

.clinihelp {
  display: inline-block;
  width: 50%;

}

.clinihelp h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 2em;
  padding-bottom: 1em;
  color: #009DFF;

}

.clinihelp p {
  font-family:'Helvetica', sans-serif;
  font-size: 1em;
  width: 85%;
  line-height: 2;
}

.showcase1-mockup {
  max-width: 560px;
  width: 50%;
  position: relative;
  top: 130px;
  height: auto;

}





.clinihelp button {
  background: -webkit-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -moz-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -o-linear-gradient(left, #FF9D3C, #BA00FF);
  background: linear-gradient(to right, #FF9D3C, #BA00FF);
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: white;
  margin-top: 2em;
  visibility: hidden;
}

.clinihelp button:hover {
  background: white;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: black;
  border: 2px solid #BA00FF;
}

.clinihelp button:focus {
  outline: none;
}




.showcase2 {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 5em;
  padding-top: 10px;
}

.gc-access {
  display: inline-block;
  text-align: right;
  width: 50%;

}

.gc-access h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 2em;
  padding-bottom: 1em;
  color: #009DFF;

}

.gc-access p {
  font-family:'Helvetica', sans-serif;
  font-size: 1em;
  width: 85%;
  float: right;
  line-height: 2;
}

.showcase2-mockup {
  max-width: 540px;
  width: 50%;
  position: relative;
  top: 130px;
  height: auto;
  clear: right;

}

.showcase2-mobi-mockup {
  display: none;
}




.gc-access button {
  background: -webkit-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -moz-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -o-linear-gradient(left, #FF9D3C, #BA00FF);
  background: linear-gradient(to right, #FF9D3C, #BA00FF);
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: white;
  margin-top: 2em;
  visibility: hidden;
}

.gc-access button:hover {
  background: white;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: black;
  border: 2px solid #BA00FF;
}

.gc-access button:focus {
  outline: none;
}






.showcase3 {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 5em;
  padding-top: 10px;
}

.gc-dog-parks {
  display: inline-block;
  width: 50%;

}

.gc-dog-parks h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 2em;
  padding-bottom: 1em;
  color: #009DFF;

}

.gc-dog-parks p {
  font-family:'Helvetica', sans-serif;
  font-size: 1em;
  width: 85%;
  line-height: 2;
}

.showcase3-mockup {
  max-width: 560px;
  width: 50%;
  position: relative;
  top: 130px;
  height: auto;

}




.gc-dog-parks button {
  background: -webkit-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -moz-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -o-linear-gradient(left, #FF9D3C, #BA00FF);
  background: linear-gradient(to right, #FF9D3C, #BA00FF);
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: white;
  margin-top: 2em;
  visibility: hidden;
}

.gc-dog-parks button:hover {
  background: white;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: black;
  border: 2px solid #BA00FF;
}

.gc-dog-parks button:focus {
  outline: none;
}



/*----Footer----*/


footer {
  text-align: left;
  width: 100%;
  left: 0;
  height: 230px;
  z-index: 101;
  margin-top: 250px;
}

footer div {
  width: 100%;
  display: block;
  margin: auto;
  width: 85%;
  max-width: 1500px;
}

footer img {
  width: 35px;
  height: auto;
  position: relative;
  top: 0.8em;
}

footer h4 {
  display: inline-block;
  font-size: 1.2em;
  font-weight: Lighter;
  margin-left: 1em;
}

footer h5 {
  display: inline-block;
  font-size: 0.6em;
  margin-left: 3%;
}

footer a {
  color: black;
}

footer a:visited {
  color: black;
}

footer p {
  display: block;
  width: 450px;
  line-height: 2;
  margin-top: 1%;
  font-size: 0.8em;
  color: #444;
}


/*---- MEDIA QUERIES ------*/

@media (max-width: 1426px) {



  .textbox1 {
    padding-top: 5em;
    padding-bottom: 5em;
    margin: auto;
    text-align: center;
    width: 65%;
  }

  .textbox1 p {
    width: 100%;
  }

  .clinihelp {
  display: inline-block;
  width: 100%;
}
  
  .clinihelp h1 {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  margin: auto;
  padding-bottom: 1em;
  color: #009DFF;

}

.clinihelp p {
  font-family:'Helvetica', sans-serif;
  text-align: center;
  margin: auto;
  width: 85%;
  line-height: 2;
  margin-bottom: -8em;

}

  .clinihelp button {
  background: -webkit-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -moz-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -o-linear-gradient(left, #FF9D3C, #BA00FF);
  background: linear-gradient(to right, #FF9D3C, #BA00FF);
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: white;
  display: block;
  margin: 4em auto;
  
  }

  .showcase1-mockup {
  max-width: 550px;
  display: block;
  width: 60%;
  margin: -100px auto 0 auto;
  height: auto;
}


.showcase2{
  margin-top: 13em;
}


 .gc-access {
  display: inline-block;
  width: 100%;
}
  
  .gc-access h1 {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  margin: auto;
  padding-bottom: 1em;
  color: #009DFF;

}

.gc-access p {
  font-family:'Helvetica', sans-serif;
  display: block;
  text-align: center;
  margin: auto;
  width: 85%;
  float: none;
  line-height: 2;
  margin-bottom: -8em;

}

  .gc-access button {
  background: -webkit-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -moz-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -o-linear-gradient(left, #FF9D3C, #BA00FF);
  background: linear-gradient(to right, #FF9D3C, #BA00FF);
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: white;
  display: block;
  margin: 4em auto;
  
  }

  .showcase2-mockup {
  display: none;

}


.showcase3{
  margin-top: 10em;
}

 .gc-dog-parks {
  display: inline-block;
  width: 100%;
}
  
  .gc-dog-parks h1 {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  margin: auto;
  padding-bottom: 1em;
  color: #009DFF;

}

.gc-dog-parks p {
  font-family:'Helvetica', sans-serif;
  text-align: center;
  margin: auto;
  width: 85%;
  line-height: 2;
  margin-bottom: -8em;

}

  .gc-dog-parks button {
  background: -webkit-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -moz-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -o-linear-gradient(left, #FF9D3C, #BA00FF);
  background: linear-gradient(to right, #FF9D3C, #BA00FF);
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: white;
  display: block;
  margin: 4em auto;
  
  }

  .showcase3-mockup {
  max-width: 550px;
  display: block;
  width: 60%;
  margin: -100px auto 0 auto;
  height: auto;
  clear: both;

}

.showcase2-mobi-mockup {
  max-width: 550px;
  display: block;
  width: 60%;
  margin: 120px auto 0 auto;
  height: auto;
  clear: both;
}

}

@media (max-width: 1170px) {

 
.about-tinycircle {
  display: none;
}

.about-tinycircle2,  {
  display: none;
}

.about-smallcircle {
  display: none;
}

.about-mediumcircle {
  display: none;
}


.about-largecircle {
  display: none;
 }
}
