* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}


/*----Keyframes----*/

@keyframes leftsmall {
  0% {margin-left: 100px; margin-top: -300px;}
  50% {margin-left: 110px; margin-top: -300px;}
  100% {margin-left: 100px; margin-top: -300px;}
}

@keyframes leftlarge {
  0% {margin-left: -200px; margin-top: -80px;}
  50%{margin-left: -210px; margin-top: -80px;}
  100% {margin-left: -200px; margin-top: -80px;}
}

@keyframes rightsmall {
  0% {margin-left: 1100px; margin-top: -390px;}
  50% {margin-left: 1090px; margin-top: -390px;}
  100% {margin-left: 1100px; margin-top: -390px;}
}

@keyframes rightmedium {
  0% {margin-left: 1250px; margin-top: -290px;}
  50% {margin-left: 1260px; margin-top: -290px;}
  100% {margin-left: 1250px; margin-top: -290px;}
}

@keyframes rightlarge {
  0% {margin-left: 1080px; margin-top: -90px;}
  50% {margin-left: 1070px; margin-top: -90px;}
  100% {margin-left: 1080px; margin-top: -90px;}
}

/*----HTML----*/

html {
  overflow-x: hidden;
  font-family: "Helvetica", sans-serif;
}
body {
  max-width: 100vw;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow: hidden;
}

.flexbox {
  max-width: 1500px;
  margin: 0 auto;
  z-index: 101;
}

/*----nav----*/

nav {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -5px 0px 2px #444;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 111;
}

nav img {
  width: auto;
  height: 35px;
  margin-left: 3.5vw;
  margin-top: 22px;
}

nav h1 {
  display: inline-block;
  position: absolute;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  margin-left: 25px;
  margin-top: 27px;
  font-size: 1.2em;
}

nav ul {
  position: relative;
  float: right;
  margin-right: 60px;
  margin-top: 1.1em;
}

nav ul li {
  margin-right: 60px;
  font-family: "Helvetica", sans-serif;
  display: inline;
  list-style-type: none;
  font-size: 0.9em;
}

nav a {
  text-decoration: none;
  color: black;
}

#home:hover {
  color: #FF9D3C
}

#about:hover {
  color: #FF0080;
}

#portfolio:hover {
  color: #BA00FF;
}
nav button {
  background: -webkit-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -moz-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -o-linear-gradient(left, #FF9D3C, #BA00FF);
  background: linear-gradient(to right, #FF9D3C, #BA00FF);
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: white;
  margin-top: -3px;
}

nav button:hover {
  background: white;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: black;
  border: 2px solid #BA00FF;
  cursor: pointer;
}

nav button:focus {
  outline: 0;
}

nav button:active {
  outline: none;
}


#homeicon {
  height: 20px;
  width: auto;
  margin-right: 5px;
  margin-bottom: -4px;
  display: none;
}


/*----header----*/

.headerbackground {
  width: 100vw;
  height: 800px;
  background: -webkit-linear-gradient(110deg, #3B00FF, #FF0080);
  background: -moz-linear-gradient(110deg, #3B00FF, #FF0080);
  background: -o-linear-gradient(110deg, #3B00FF, #FF0080);
  background: linear-gradient(200deg, #3B00FF, #FF0080);
  display: inline-block;
  position: absolute;
  overflow-x: visible;
  margin-top: 75px;
}

header {
  width: 100%;
  height: 800px;
  margin-top: 75px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  position: relative;
}

.bubblecontainer {
  width: 85%;
  max-width: 1500px;
  height: 800px;
  top: 500px;
  position: absolute;
}


.slogan {
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.slogan h1 {
  font-size: 3em;
  -webkit-font-smoothing: antialiased;
}

.slogan p {
  font-size: 1em;
  margin-top: 3em;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
}

header button {
  background-color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: #c200b3;
  margin: 0 auto;
  position: relative;
  margin-top: 3em;
  display: block;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.1);
}

header button:hover {
  background: none;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

header button:focus {
  outline: 0;
}

header a {
  text-decoration: none;
}

#leftsmall {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(120deg, #ef00f6, #2400fe);
  padding: 90px;
  margin-left: -320px;
  margin-top: -400px;
  animation: leftsmall infinite;
  animation-duration: 3s;
}

#leftlarge {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(120deg, deeppink, coral);
  padding: 290px;
  margin-left: -700px;
  margin-top: -120px;
  animation: leftlarge infinite;
  animation-duration: 3s;
  z-index: 91;
}

#rightsmall {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(90deg, deeppink, coral);
  padding: 55px;
  margin-left: 800px;
  margin-top: -390px;
  animation: rightsmall infinite;
  animation-duration: 3s;
}

#rightmedium {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(90deg, orangered, coral);
  padding: 80px;
  margin-left: 630px;
  margin-top: -290px;
  animation: rightmedium infinite;
  animation-duration: 3s;
}

#rightlarge {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(90deg, deeppink, blueviolet);
  padding: 130px;
  margin-left: 680px;
  margin-top: -90px;
  animation: rightlarge infinite;
  animation-duration: 3s;
}


/*----body----*/

#tinybubble {
  position: absolute;
  border-radius: 100%;
  background: -webkit-linear-gradient(60deg, #fdc041, #ff014a);
  background: -moz-linear-gradient(60deg, #fdc041, #ff014a);
  background: -o-linear-gradient(60deg, #fdc041, #ff014a);
  background: linear-gradient(150deg, #fdc041, #ff014a);
  padding: 40px;
  margin-left: 350px;
  margin-top: 550px;
  display: none;
}

#smallbubble {
  position: absolute;
  border-radius: 100%;
  background: -webkit-linear-gradient(120deg, #00FFFF, #0062FF);
  background: -moz-linear-gradient(120deg, #00FFFF, #0062FF);
  background: -o-linear-gradient(120deg, #00FFFF, #0062FF);
  background: linear-gradient(120deg, #00FFFF, #0062FF);
  padding: 65px;
  margin-left: 300px;
  margin-top: 80px;
  display: none;
}

#mediumbubble {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(390deg, #FF9D3C, deeppink);
  padding: 120px;
  margin-left: 500px;
  margin-top: 240px;
  display: none;
}

.body1background {
  width: 100vw;
  background-color: white;
  height: 700px;
  margin-top: 800px;
  position: absolute;
  z-index: 100;
}

.body1 {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 101;
  background-color: white;
}

.textbox1 {
  height: 500px;
  min-width: 510px;
  width: 40%;
  margin-left: 5em;
  margin-top: 5em;
  display: block;
  position: absolute;
  left: 0;
}

#bluecube {
  width: 3em;
  height: auto;
  position: absolute;
  display: inline-block;
}

#orangecircles {
  width: 3em;
  height: auto;
  position: absolute;
  display: inline-block;
}

#h11 {
  color: #ff881a;
}

#h12 {
  color: #1aa7ff;
}

.textbox1 h2 {
  margin-left: 2em;
  font-size: 2em;
  display: inline-block;
  margin-top: 0.3em;
}

.textbox1 p {
  text-align: left;
  color: black;
  font-size: 1em;
  line-height: 2em;
  margin-top: 0.3em;
}


#p {
  margin-bottom: 5em;
}

/*----Body2----*/

#shapes {
  margin: auto !important;  
  transform: rotate(180deg);
  width: 400px;
  height: auto;
  display: block;
  
  
}

.body2background {
  width: 100vw;
  height: 840px;
  background: -webkit-linear-gradient(190deg, #3B00FF, #FF0080);
  background: -moz-linear-gradient(190deg, #3B00FF, #FF0080);
  background: -o-linear-gradient(190deg, #3B00FF, #FF0080);
  background: linear-gradient(280deg, #3B00FF, #FF0080);
  display: inline-block;
  position: absolute;
  margin-top: 1500px;
}

.body2 {
  width: 100%;
  height: 840px;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.textbox2 {
  display: block;
  margin: auto !important;
  height: 100px;
  width: 100%;
  margin-top: 80px;
  line-height: 2;
  position: absolute;
  color: white;
}

.textbox2 h2 {
  text-align: center;
  font-size: 2em;
}

.textbox2 p {
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 1em;
}

.cardcontainer {
  display: flex;
  flex-direction: row;
  margin-top: 300px;
  width: 100%;
  height: 400px;
}

.jolon, .tommi, .dylan, .callum {
  width: 300px;
  height: 400px;
  display: inline-block;
  margin: auto;
  margin-top: 3em;
  box-shadow: 0px 1px 6px #888888;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
}

.profilepicture {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.19);
  margin: auto;
  margin-top: 3em;
}

.bio {
  width: 70%;
  height: 180px;
  text-align: center;
  margin: 1.8em auto;
}

.bio h6 {
  font-size: 1.1em;
  width: auto;
  margin: auto;
  text-align: center;
}

.bio p {
  font-size: 0.9em;
  padding-top: 1em;

}

.jolon img {
  border-radius: 100%;
  width: 100%;

}

.jolon h6 {
  color: deeppink;
}

.callum img {
  border-radius: 100%;
  width: 100%;
}

.callum h6 {
  color: blue;
}

.tommi img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.tommi h6 {
  color: mediumvioletred;
}

.dylan img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.dylan h6 {
  color: darkviolet;
}

/*----Footer----*/

footer {
  text-align: left;
  padding-top: 3em;
  width: 100%;
  left: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  height: 230px;
  z-index: 101;
}

footer div {
  width: 100%;
  display: block;
  margin: auto;
  width: 85%;
  max-width: 1500px;
}

footer img {
  width: 35px;
  height: auto;
  position: relative;
  top: 0.8em;
}

footer h4 {
  display: inline-block;
  font-size: 1.2em;
  font-weight: Lighter;
  margin-left: 1em;
}

footer h5 {
  display: inline-block;
  font-size: 0.6em;
  margin-left: 3%;
}

footer a {
  color: black;
}

footer a:visited {
  color: black;
}

footer p {
  display: block;
  width: 450px;
  line-height: 2;
  margin-top: 1%;
  font-size: 0.8em;
  color: #444;
}

@media screen and (max-width: 1170px) {

.bubbles {
  display: none;
}
}

@media screen and (max-width: 1270px) {


.jolon, .tommi, .dylan, .callum {
  width: 230px;
  height: 320px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 3em;
  box-shadow: 0px 1px 6px #888888;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  opacity: 0.95;
}

.profilepicture {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: black;
  margin: 0 auto;
  margin-top: -8em;
}

.bio {
  width: 99%;
  height: 120px;
  text-align: center;
}

.bio h6 {
  font-size: 1.1em;
}

.bio p {
  font-size: 0.8em;
  margin-top: -30px;
  font-weight: bold;
}
}

@media screen and (max-width: 965px) {

.body2 {
  height: 600px;
}

.body2background {
  height: 600px;
}

.jolon, .tommi, .dylan, .callum {
  width: 150px;
  height: 200px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 3em;
  box-shadow: 0px 1px 6px #888888;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  opacity: 0.95;
}

.profilepicture {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: black;
  margin: 0 auto;
  margin-top: -80px;
}

.bio {
  width: 100px;
  height: 80px;
  text-align: center;
  margin-top: -15px;
  margin-left: -13px;
}

.bio h6 {
  font-size: 0.8em;
}

.bio p {
  font-size: 0.6em;
  margin-top: -20px;
  font-weight: bold;
}
}