* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}


/*----Keyframes----*/

@keyframes indicator {
  0% {top: 380px;}
  100% {top: 390px;}
}


@keyframes leftsmall {
  0% {margin-left: 100px; margin-top: -300px;}
  50% {margin-left: 110px; margin-top: -300px;}
  100% {margin-left: 100px; margin-top: -300px;}
}

@keyframes leftlarge {
  0% {margin-left: -200px; margin-top: -80px;}
  50%{margin-left: -210px; margin-top: -80px;}
  100% {margin-left: -200px; margin-top: -80px;}
}

@keyframes rightsmall {
  0% {margin-left: 1100px; margin-top: -390px;}
  50% {margin-left: 1090px; margin-top: -390px;}
  100% {margin-left: 1100px; margin-top: -390px;}
}

@keyframes rightmedium {
  0% {margin-left: 1250px; margin-top: -290px;}
  50% {margin-left: 1260px; margin-top: -290px;}
  100% {margin-left: 1250px; margin-top: -290px;}
}

@keyframes rightlarge {
  0% {margin-left: 1080px; margin-top: -90px;}
  50% {margin-left: 1070px; margin-top: -90px;}
  100% {margin-left: 1080px; margin-top: -90px;}
}

/*----HTML----*/

html {
  overflow-x: hidden;
  font-family: "Helvetica", sans-serif;
}
body {
  max-width: 100vw;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow: hidden;
}

.flexbox {
  max-width: 1500px;
  margin: 0 auto;
  z-index: 101;
}

/*----nav----*/

nav {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -5px 0px 2px #444;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 111;
}

nav img {
  width: auto;
  height: 35px;
  margin-left: 3.5vw;
  margin-top: 22px;
}

nav h1 {
  display: inline-block;
  position: absolute;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  margin-left: 25px;
  margin-top: 27px;
  font-size: 1.2em;
}

nav ul {
  position: relative;
  float: right;
  margin-right: 60px;
  margin-top: 1.1em;
}

nav ul li {
  margin-right: 60px;
  font-family: "Helvetica", sans-serif;
  display: inline;
  list-style-type: none;
  font-size: 0.9em;
}

nav a {
  text-decoration: none;
  color: black;
}

#home:hover {
  color: #FF9D3C
}

#about:hover {
  color: #FF0080;
}

nav button {
  background: -webkit-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -moz-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -o-linear-gradient(left, #FF9D3C, #BA00FF);
  background: linear-gradient(to right, #FF9D3C, #BA00FF);
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: white;
  margin-top: -3px;
}

nav button:hover {
  background: white;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: black;
  border: 2px solid #BA00FF;
  cursor: pointer;
}

nav button:focus {
  outline: 0;
}

nav button:active {
  outline: none;
}


#homeicon {
  height: 20px;
  width: auto;
  margin-right: 5px;
  margin-bottom: -4px;
  display: none;
}


/*----header----*/

.headerbackground {
  width: 100vw;
  height: 800px;
  background: -webkit-linear-gradient(110deg, #3B00FF, #FF0080);
  background: -moz-linear-gradient(110deg, #3B00FF, #FF0080);
  background: -o-linear-gradient(110deg, #3B00FF, #FF0080);
  background: linear-gradient(200deg, #3B00FF, #FF0080);
  display: inline-block;
  position: absolute;
  overflow-x: visible;
  margin-top: 75px;
}

header {
  width: 100%;
  height: 800px;
  margin-top: 75px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  position: relative;
}

.bubblecontainer {
  width: 85%;
  max-width: 1500px;
  height: 800px;
  top: 500px;
  position: absolute;
}


.slogan {
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.slogan h1 {
  font-size: 3em;
  -webkit-font-smoothing: antialiased;
}

.slogan p {
  font-size: 1em;
  margin-top: 3em;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
}

header button {
  width: 45px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 390px;
  background: none;
  border: none;
  height: auto;
  z-index: 1000000;
  animation: indicator 1s infinite ease-in-out;
  animation-fill-mode: both;
  animation-direction: alternate-reverse;

}

header button:hover {
  cursor: pointer;
}

header button:focus {
  outline: none;
}




#leftsmall {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(120deg, #ef00f6, #2400fe);
  padding: 90px;
  margin-left: -320px;
  margin-top: -400px;
  animation: leftsmall infinite;
  animation-duration: 3s;
  transition: all .4s ease-in-out;
}

#leftsmall:hover {
  transform: scale(1.08);
  transition-duration: 0.4s;
}

#leftlarge {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(120deg, deeppink, coral);
  padding: 290px;
  margin-left: -700px;
  margin-top: -120px;
  animation: leftlarge infinite;
  animation-duration: 3s;
  z-index: 91;
  transition: all .4s ease-in-out;
}

#leftlarge:hover {
  transform: scale(1.04);
  transition-duration: 0.4s;
}

#rightsmall {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(90deg, deeppink, coral);
  padding: 55px;
  margin-left: 800px;
  margin-top: -390px;
  animation: rightsmall infinite;
  animation-duration: 3s;
  transition: all .4s ease-in-out;
}

#rightsmall:hover {
  transform: scale(1.08);
  transition-duration: 0.4s;
}

#rightmedium {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(90deg, orangered, coral);
  padding: 80px;
  margin-left: 630px;
  margin-top: -290px;
  animation: rightmedium infinite;
  animation-duration: 3s;
  transition: all .4s ease-in-out;
}

#rightmedium:hover {
  transform: scale(1.08);
  transition-duration: 0.4s;
}

#rightlarge {
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(90deg, deeppink, blueviolet);
  padding: 130px;
  margin-left: 680px;
  margin-top: -90px;
  animation: rightlarge infinite;
  animation-duration: 3s;
  transition: all .4s ease-in-out;
}

#rightlarge:hover {
  transform: scale(1.08);
  transition-duration: 0.4s;
}

/*----body----*/


.body1background {
  width: 100vw;
  background-color: white;
  height: 840px;
  margin-top: 875px;
  position: absolute;
  z-index: 100;
}

.body1 {
  height: 840px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 75px !important;
  z-index: 101;
}

#shapes {
  position: absolute;
  margin: 0 auto;
  height: auto;
  width: 400px;
  margin-top: 100px;
}

.textbox1 {
  height: 500px;
  min-width: 510px;
  width: 45%;
  margin: 0 auto;
  margin-top: 300px;
  display: block;
  position: relative;
  left: 0;
  text-align: center;
}

#h11 {
  color: white;
  text-align: center;
}

.textbox1 h2 {
  font-size: 2em;
  display: inline-block;
  margin-top: 0.3em;
  color: white;
}

.textbox1 p {
  text-align: center;
  font-size: 1em;
  line-height: 2em;
  color: white;
}

#p {
  margin-bottom: 5em;
}

#contact-button {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  font-family: "Helvetica", sans-serif;
  color: #c200b3;
  margin: 0 auto;
  background-color: white;
  cursor: pointer;
}

#contact-button:hover {
  background: none;
  font-size: 1em;
  font-family: "Helvetica", sans-serif;
  color: white;
  border: 2px solid white;
}

#contact-button:focus {
  outline: 0;
}

/*----Body2----*/


.body2background {
  width: 100vw;
  height: 730px;
  background: -webkit-linear-gradient(190deg, #3B00FF, #FF0080);
  background: -moz-linear-gradient(190deg, #3B00FF, #FF0080);
  background: -o-linear-gradient(190deg, #3B00FF, #FF0080);
  background: linear-gradient(280deg, #3B00FF, #FF0080);
  display: inline-block;
  position: absolute;
  margin-top: 1690px;
}

.body2 {
  width: 100%;
  padding-top: 3em;
  height: 680px;
  margin: auto;
  top: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 101;
}

.textbox2 {
  display: block;
  margin: auto !important;
  height: 100px;
  width: 100%;
  margin-top: 80px;
  line-height: 2;
  position: absolute;
  color: white;
}

.textbox2 h2 {
  text-align: center;
  font-size: 2em;
  color: #3399ff;
}

.textbox2 p {
  text-align: center;
  width: 50%;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  font-size: 1em;
  color: black;
}

.cardcontainer {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  width: 100%;
  height: 400px;
}

.jolon, .tommi, .dylan, .callum {
  min-width: 300px;
  height: 400px;
  display: inline-block;
  margin: auto;
  margin-top: 3em;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.19);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
}

.profilepicture {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.19);
  margin: auto;
  margin-top: 3em;
}

.bio {
  width: 70%;
  height: 180px;
  text-align: center;
  margin: 4em auto;
}

.bio h6 {
  font-size: 1.1em;
  width: auto;
  margin: auto;
  text-align: center;
}

.bio p {
  font-size: 0.9em;
  padding-top: 1em;

}

.dylan {
  clear: left;
}

.jolon img {
  border-radius: 100%;
  width: 100%;

}

.jolon h6 {
  color: deeppink;
}

.callum img {
  border-radius: 100%;
  width: 100%;
}

.callum h6 {
  color: blue;
}

.tommi img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.tommi h6 {
  color: mediumvioletred;
}

.dylan img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.dylan h6 {
  color: darkviolet;
}

/*----Footer----*/

footer {
  text-align: left;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
  left: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  height: 230px;
  z-index: 101;
}

footer div {
  padding-top: 3em;
  width: 100%;
  display: block;
  margin: auto;
  width: 85%;
  max-width: 1500px;
}

footer img {
  width: 35px;
  height: auto;
  position: relative;
  top: 0.8em;
}

footer h4 {
  display: inline-block;
  font-size: 1.2em;
  font-weight: Lighter;
  margin-left: 1em;
}

footer h5 {
  display: inline-block;
  font-size: 0.6em;
  margin-left: 3%;
}

footer a {
  color: black;
}

footer a:visited {
  color: black;
}

footer p {
  display: block;
  width: 450px;
  line-height: 2;
  margin-top: 1%;
  font-size: 0.8em;
  color: #444;
}

@media screen and (max-width: 1170px) {

.bubbles {
  display: none;
}

}

@media screen and (max-width: 965px) {

  .body2 {
    height: 600px;
  }


  .textbox2 h2 {
    margin-top: 2em;
  }

  .textbox2 p {
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 1em;
}
  

  .body2background {
    height: 600px;
  }

  .jolon, .tommi, .dylan, .callum {
    width: 85% !important;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: white;
    opacity: 0.95;
  }

  .profilepicture {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: -80px;
  }

  .bio {
    width: 100px;
    height: 80px;
    text-align: center;
    margin-top: -15px;
    margin-left: -13px;
  }

 

  .bio p {
    font-size: 0.6em;
    margin-top: 20px;
  }

}

@media screen and (max-width: 1271px) {

.body2 {
  height: auto;
}

.body1 {
  top: 2900px;
}

.body1background {
  height: 2150px;
}

.cardcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

}

#shapes {
  width: 300px;
  margin-top: 9%;
}

.textbox2 p {
  width: 80%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.body2background {
  height: 680px;
  margin-top: 10em;
  top: 2900px;
}

.textbox1 {
  margin-top: 14em;
}


.jolon, .tommi, .dylan, .callum {
  width: 50%;
  margin: auto;
  margin-top: 3em;
  background-color: white;
}

.profilepicture {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.19);
  margin: auto;
  margin-top: 3em;
}

.bio {
  width: 70%;
  height: 180px;
  text-align: center;
  margin: 1.8em auto;
}

.bio h6 {
  font-size: 1.3em;
  padding-top: 2em;
  width: auto;
  margin: auto;
  text-align: center;
}

.bio p {
  font-size: 0.9em;
  padding-top: 1em;
  color: black;

}

.jolon img {
  border-radius: 100%;
  width: 100%;

}

.jolon h6 {
  color: deeppink;
}

.callum img {
  border-radius: 100%;
  width: 100%;
}

.callum h6 {
  color: blue;
}

.tommi img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.tommi h6 {
  color: mediumvioletred;
}

.dylan img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.dylan h6 {
  color: darkviolet;
}

footer {
  text-align: left;
  padding-top: 3em;
  width: 100%;
  left: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  height: auto;
  z-index: 101;
}

footer div {
  width: 100%;
  display: block;
  margin: 4em auto;
  width: 85%;
  max-width: 1500px;
}

  
}
