html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
}

body {
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden;
}

nav {
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -5px 0px 2px #444;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 111;
}
#logo {
  position: relative;
  width: auto;
  height: 32px;
  margin-left: 3.5vw;
  margin-top: 16px;
}

#menu {
  float: right;
  height: 28px;
  width: auto;
  margin-top: 18px;
  margin-right: 20px;
}

#x {
  float: right;
  height: 30px;
  width: auto;
  margin-top: 15px;
  margin-right: 23px;
  display: none;
}

nav h1 {
  display: inline-block;
  position: absolute;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  margin-left: 15px;
  margin-top: 20px;
  font-size: 1.2em;
}

nav ul {
  position: relative;
  float: right;
  margin-right: 60px;
  display: none;
}

nav ul li {
  margin-right: 60px;
  font-family: "Helvetica", sans-serif;
  display: inline;
  list-style-type: none;
  font-size: 0.9em;
}

nav a {
  text-decoration: none;
  color: black;
}

#home:hover {
  color: #FF9D3C
}

#about:hover {
  color: #FF0080;
}

nav button {
  background: -webkit-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -moz-linear-gradient(left, #FF9D3C, #BA00FF);
  background: -o-linear-gradient(left, #FF9D3C, #BA00FF);
  background: linear-gradient(to right, #FF9D3C, #BA00FF);
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: white;
  margin-top: -3px;
}

nav button:hover {
  background: white;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: black;
  border: 2px solid #BA00FF;
}

nav button:focus {
  outline: 0;
}

nav button:active {
  outline: none;
}



/*----Menu----*/

#menubox {
  width: 100vw;
  margin-top: 65px;
  top: 0;
  height: calc(100vh - 65px);
  padding: 0;
  position: absolute;
  z-index: 1000;
  color: white;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(220deg, #5700ed, #f40098);
  margin-left: 100vw;
  display: none;
  position: fixed;
}

#menubox img {
  width: 6vw;
  height: auto;
  bottom:  0;
  position: absolute;
  margin-left: 3.5vw;
  margin-top: 3vh;
  top: 0;
}

#menubox ul {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 0;
}

#menubox ul li {
  list-style-type: none;
  font-size: 5vh;
  font-weight: bold;
  line-height: 2em;
}

#menubox a {
  color: white;
  text-decoration: none;
}

#menubox a:visited {
  color: white;
}


/*----Header----*/

.flexbox {
    display: block;
}

header {
  width: 100%;
  min-height: 550px;
  height: 85vh;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background: -webkit-linear-gradient(110deg, #3B00FF, #FF0080);
  background: -moz-linear-gradient(110deg, #3B00FF, #FF0080);
  background: -o-linear-gradient(110deg, #3B00FF, #FF0080);
  background: linear-gradient(200deg, #3B00FF, #FF0080);
}

header img {
  width: 45%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 80%;
}

.slogan h1 {
  font-size: 1.8em;
  -webkit-font-smoothing: antialiased;
}

.slogan p {
  font-size: 1em;
  margin-top: 3em;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
}

header button {
  background-color: white;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-size: 0.9em;
  font-family: "Helvetica", sans-serif;
  color: #c200b3;
  margin: 0 auto;
  position: relative;
  margin-top: 3em;
  display: block;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.1);
}

header button:hover {
  background: none;
  color: white;
  border: 2px solid white;
}

header button:focus {
  outline: none;
}

header a {
  text-decoration: none;
}
/*----Body----*/

.body1 {
  min-height: 300px;
  padding-top: 1em;
  padding-bottom: 2em;
  max-height: 400px;
  display: inline-block;
}

#h11 {
    color: #ff881a;
}

#h12 {
  color: #1aa7ff;
}

.textbox1 {
    width: 85%;
    margin: auto;
    text-align: center;
    margin-top: 3em;
}

.textbox1 h2 {
    font-size: 1.3em;
}

.textbox1 p {
    line-height: 1.8em;
    font-size: 0.9em;
}


/*----Body2----*/

.body2 {
  background: linear-gradient(140deg, #3B00FF, #FF0080);
  height: auto;
  padding-bottom: 3.8em;
  color: white;
  text-align: center;
  padding-top: 3em;
  margin-top: 1.5em;
  display: inline-block;
}

.textbox2 {
  margin-top: 1.8em;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.5em;
  line-height: 2;
}

.textbox2 p {
  font-size: 0.9em;
}

.cardcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.jolon, .tommi, .dylan, .callum {
  width: 85%;
  height: 400px;
  display: inline-block;
  margin: auto;
  margin-top: 3em;
  box-shadow: 0px 1px 6px #888888;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
}

.profilepicture {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.19);
  margin: auto;
  margin-top: 3em;
}

.bio {
  width: 70%;
  height: 180px;
  text-align: center;
  margin: 1.8em auto;
}

.bio h6 {
  font-size: 1.3em;
  padding-top: 2em;
  width: auto;
  margin: auto;
  text-align: center;
}

.bio p {
  font-size: 0.9em;
  padding-top: 1em;
  color: black;

}

.jolon img {
  border-radius: 100%;
  width: 100%;

}

.jolon h6 {
  color: deeppink;
}

.callum img {
  border-radius: 100%;
  width: 100%;
}

.callum h6 {
  color: blue;
}

.tommi img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.tommi h6 {
  color: mediumvioletred;
}

.dylan img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.dylan h6 {
  color: darkviolet;
}


/*----Footer----*/

footer {
  width: 100%;
  height: 200px;
}

footer div {
  width: 80%;
  margin-top: 2em;
  margin-left: 2em;
}

footer img {
  height: 35px;
  width: auto;
  display: block;
  position: absolute;
  margin-top: 1.5em;
}

footer h4 {
  display: inline-block;
  margin-left: 3em;
  margin-top: 2em;
}

footer p {
  font-size: 0.8em;
  line-height: 1.5em;
  color: #333;
}


/*----Ipad Styles----*/
/*
@media screen and (min-height: 800px) {

.body2 {
  background: linear-gradient(140deg, #3B00FF, #FF0080);
  height: 100vh;
  color: white;
  text-align: center;
  margin-top: 1.5em;
  display: inline-block;
}

.cardcontainer1 {
  width: 100%;
  height: 40%;
  margin: 0 auto;
}

.cardcontainer2 {
  width: 100%;
  height: 40%;
  margin: 0 auto;
  margin-top: 1em;
}
}
*/